{% extends "base.html.twig" %}

{% block title %}Personne
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}
{% block javascripts %}
	<script src="assets/js/personnes.js"></script>
{% endblock %}
{% block body %}
	<div class="container">
		<div class="row">
			<h1>Personne</h1>
		</div>
		<div class="row">
			<div class="col-6">
				{{ form_start(form, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'col-lg-5' 
                        }
                    }) 
                }}
				{{ form_row(form.nom) }}
				{{ form_row(form.prenom) }}
				{{ form_row(form.dateAnniverssaire) }}
				<br/>
				<button type="submit" class="btn btn-primary">Envoyer</button>
				{{ form_end(form) }}
			</div>
			<div class="col-6">
				{% for key, p in list_personnes %}
					<table>
						<tr style="">
							<td>{{ p.nom }}</td>
							<td>{{ p.prenom }}</td>
							<td>
								{% if date().diff(date(p.dateAnniverssaire)).y|e and date().diff(date(p.dateAnniverssaire)).y|e > 1 %}
									{{ date().diff(date(p.dateAnniverssaire)).y }}
									ans
								{% elseif date().diff(date(p.dateAnniverssaire)).y|e and date().diff(date(p.dateAnniverssaire)).y == 1 %}
									{{ date().diff(date(p.dateAnniverssaire)).y }}
									an
								{% endif %}
							</td>
						</tr>
					</table>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
